/bin
/dist
/test-results
/target/
/.idea
/img
/test/config/test-output
/test/config/test-results
/test-output
/.metadata/
/*.iml
/.DS_Store
src/test/resources/manifest.json
resources/env1/*.properties
resources/manifest.json